name: Perpetual Dual Stream
on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: System Setup
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq xvfb ffmpeg pulseaudio google-chrome-stable > /dev/null
          
          # 1. تشغيل محرك الصوت
          pulseaudio -D --exit-idle-time=-1 --disallow-exit || true
          
          # 2. إنشاء قنوات صوتية وهمية مستقلة
          pactl load-module module-null-sink sink_name=Sink1 sink_properties=device.description=Stream1_Audio
          pactl load-module module-null-sink sink_name=Sink2 sink_properties=device.description=Stream2_Audio
          
      - name: Python Setup
        run: pip install selenium pyvirtualdisplay requests

      - name: Start Streaming Processes
        env:
          R1: ${{ secrets.R1 }}
          R2: ${{ secrets.R2 }}
        run: python main.py
